<div class = "category">
	<a href = "{{ path('category_show', {'id': childCategory.id}) }}">
		<img src = "/images/categories/{{ childCategory.id }}.jpg"><br>
		{{ childCategory.defaultname }}
	</a>
</div>