<nav class="main_nav">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="main_nav_content d-flex flex-row">
                    {% block categories_menu %}
                     <!-- Categories Menu -->

                    {% endblock %}

                    {% block main_nav_menu%}
                    <!-- Main Nav Menu -->

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</nav>